@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0 0 3rem;
    min-height: 100vh;
}

h2 {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 16px;
    text-align: center;
}

a {
    padding: 7px;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
}

a:hover {
    color: #b38d92;
}

