@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body{
    background-color: darkblue;
    font-family: "Poppins", sans-serif;
    margin: 0 0 3rem;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
    text-align: center;
}

a{
    text-decoration: none;
}

.goback-link{
    margin-top: 10px;
    margin-left: 10px;
    color:aquamarine;
    text-decoration: none;
    padding: 10px;
}

.goback-link:hover {
    color: #b38d92;
}

.section {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 4opx;
    font-weight: 700;
    opacity: 0.7;
    color: aquamarine;
        max-width: 100%;
}

.input{
    padding: 10px 15px;
    width: 300px;
}

.input::placeholder{
    font-size: large;
    font-weight: normal;
    color: #818181;
}

.item{
    border-radius: 3px ;
    border: 1px solid #818181;
    padding: 5px 10px;
    width: 300px;
    background-color: aquamarine;
    text-align: left;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.completed{
    background-color: rgb(153, 173, 167);
    color: #58121c;
}

.close-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: rebeccapurple;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 7px;
}

.close-btn:hover,
.close-btn:focus{
    color: aquamarine;
    background-color: red;
}
